@font-face 
{ 
	font-family: silkscreen; 
	src: url('../font/slkscr.ttf'); 
} 
@font-face 
{ 
	font-family: silkscreen; 
	font-weight: bold; 
	src: url('../font/slkscrb.ttf'); 
}

#canvas
{
	display: none;
}

#info
{
	display: none;
}

#view
{
	background-color: #EEE;
	overflow: hidden;
	position: absolute;
	
	top: 0;
	left: 0;
	
	width: 1000px;
	height: 640px;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

	#view #text
	{
		color: #ED2D0F;
		font-family: silkscreen, verdana, sans-serif;
		font-size: 16px;
		text-align: center;
		text-shadow: #333 1px 1px 1px;
		width: 1000px;
		
		position: fixed;
		
		top: 50px;
		left: 0;
		
		z-index: 100000;
	}
	
	#view #credits
	{
		color: #ED2D0F;
		display: none;
		font-family: silkscreen, verdana, sans-serif;
		font-size: 16px;
		text-align: center;
		text-shadow: #333 1px 1px 1px;
		width: 1000px;
		
		position: fixed;
		
		top: 50px;
		left: 0;
		
		z-index: 100000;		
	}
	
	#view #world
	{
		position: absolute;
	
		top: 0;
		left: 0;
		
		height: 100%;
		width: 100%;
	}

		#view #world > div
		{
			position: absolute;
			
			top: 50%;
			left: 50%;
		}

		/*#view #world #building{z-index: 9}
		#view #world #character{z-index: 9}
		#view #world #cursor{z-index: 2}
		#view #world #floor{z-index: 1}*/

.character
{
	position: absolute;
	
	width: 64px;
	height: 41px;
	
	font-size: 8px;
	text-align: center;
	
	z-index: 1;
	transform: scale(1.1);
}

.character.n { background-image: url('../img/character/n.png') }
.character.e { background-image: url('../img/character/e.png') }
.character.s { background-image: url('../img/character/s.png') }
.character.w { background-image: url('../img/character/w.png') }

.character.n.hat { background-image: url('../img/character/n_hat.png') }
.character.e.hat{ background-image: url('../img/character/e_hat.png') }
.character.s.hat { background-image: url('../img/character/s_hat.png') }
.character.w.hat{ background-image: url('../img/character/w_hat.png') }

.cursor
{
	background-image: url('../img/selection.png');
	position: absolute;

	width: 64px;
	height: 31px;
	
	font-size: 9px;
	text-align: center;
	
	z-index: 99999;
	transform: scale(1.1);
}

.building
{
	position: absolute;
	
	width: 64px;
	height: 64px;
	
	font-size: 9px;
	text-align: center;
	
	opacity: 0;
	transform: scale(1.1);
}
		
.tile
{
	position: absolute;
	
	width: 64px;
	height: 31px;
	
	font-size: 9px;
	text-align: center;
	
	opacity: 0;
	transform: scale(1.1);
	
	/*padding: 6px 0;
	height: 19px;*/
}

.tile.alt{background-image: url('../img/tile_2.png')}
.tile.select{background-image: url('../img/tile_3.png') !important}