@import 'variables';
@import 'skeleton';

body { 
	padding: 5px;
	max-width: $container-max-width;
	margin: 0 auto;
	overflow-y: scroll;
}

@media (#{$bp-larger-than-mobile}) {
	body { 
		padding: 20px;
	}
}

@media (#{$bp-larger-than-phablet}) {
	body { 
		padding: 50px;
	}
}

header {
	margin: 0 auto 80px auto;
	max-width: $text-max-width;

	h1 {
		color: $text-color;
		font-family: $font-heading;
		font-size: 64px;
		font-weight: bold;
		letter-spacing: normal;
		margin: 0 0 20px 0;

		a {
			color: $text-color;
			text-decoration: none;
			border: 0;

			&:hover {
				color: $primary-color;
			}
		}
	}

	nav {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul li {
			display: inline-block;
			padding: 4px 0;
			margin: 0 20px 0 0;
		}
	}
}

section {
	max-width: $text-max-width;
	margin: 5px auto 40px auto;
}

article {

	p img {
		margin: 0 auto;
		height: auto;
		max-width: 100%;
	}

	&.summary {
		display: inline-block;
		margin: 5px auto 40px auto;

		a {
			display: block;
			border-bottom: 1px solid $primary-color;
		}

		h1 {
			margin: 0;
		}

		small {
			font-weight: bold;
			color: $primary-color;
			margin: 0;
			display: inline-block;

			&.date {
				float: left;
				margin-right: 10px;
			}

			&.subtitle {
				float: right;
				margin-left: 10px;
			}
		}
	}
}

section.error {
	h1 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}
}

footer {
	border-top: 1px solid $light-grey;
	padding: 5px 0 0 0;
	max-width: $text-max-width;
	margin: 80px auto 20px auto;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, pre, code {
	max-width: $text-max-width;
	margin: 5px auto 20px auto;
}

p img {
	max-width: $text-max-width;
}

p {
	font-family: $font-body;
	font-size: 16px;
	line-height: 160%;
}
article #playground + p {
	margin-top: 40px;
}

a {
	color: $text-color;
	border-bottom: 1px solid $primary-color;
	text-decoration: none;

	&:hover {
		color: $primary-color;
	}
}

img, canvas {
	display: block;
}

img.responsive {
	margin: 0 auto;
	height: auto;
	max-width: 100%;
}

pre, code {
	font-family: $font-mono;
	font-size: 12px;
	max-width: $text-max-width;
}

.hidden {
	display: none;
}