<!doctype html>
<html>
  <head>
    <title>Andre Nanninga</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header class="three columns">
          <h1>André Nanninga</h1>

          <h3>Entries</h3>

          <nav>
            <ul>
              <li><a href="#">Tomb Raider</a></li>
              <li><a href="#">Medieval House</a></li>
              <li><a href="#">Train Ride</a></li>
              <li><a href="#">Oh Dear, I've Lost My Hat</a></li>

            </ul>
          </nav>

        </header>
        <section class="nine columns">
          <h2>Train Ride</h2>
        </section>
      </div>
    </div>


  </body>
</html>