<!doctype html>
<html>
  <head>
    <title>André Nanninga</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/assets/highlight.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic|PT+Sans:400|Source+Code+Pro">
  </head>
  <body>

    <header>
      <h1><a href="/">andré nanninga</a></h1>

      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="https://github.com/fakeyou">github</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
    </header>

    <section>
      {{#each articles}}
        <article class="summary">
          <a href="/{{slug}}">
            <h1>{{title}}</h1>
          </a>
          
          <small class="date">{{formatDate date day="numeric" month="long" year="numeric"}}</small>
          {{#if subtitle}}
            <small class="subtitle">{{subtitle}}</small>
          {{/if}}
        </article>
        <br>
      {{/each}}
    </section>

    <footer>
      <a href="mailto:ag.nanninga@gmail.com">ag.nanninga@gmail.com</a>
    </footer>

    {{#if development}}
      <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
  </body>
</html>