<!doctype html>
<html>
  <head>
    <title>{{title}}</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/assets/highlight.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic|PT+Sans:400|Source+Code+Pro">
  </head>
  <body>

    <header>
      <h1><a href="/">andré nanninga</a></h1>

      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/whatever.html">whatever</a></li>
          <li><a href="/contact.html">contact</a></li>
        </ul>
      </nav>
    </header>


    <article>
      <h1>{{title}}</h1>
      <img src="{{image}}" width="600" class="responsive">
    </article>

    {{{contents}}}

    {{#each scripts}}
      <script src="{{this}}"></script>
    {{/each}}

    {{#if development}}
      <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
  </body>
</html>